.header-container {
  max-width: 1440px;
}

.logo {
  background-image: url('../../assets/images/logo.png');
  background-size: 100% 100%;
  height: 4rem;
  margin: 1rem 1rem 1rem 0;
  cursor: pointer;
}

.avatar {
  background-image: url('../../assets/images/avatar.png');
  background-size: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  float: right;
  margin: 1.5rem 0 0 0;
}

.header {
  box-shadow: 0 3px 3px -3px rgba(0,0,0,.2), 0 3px 3px 1px rgba(0,0,0,.14), 0 3px 3px -3px rgba(0,0,0,.12);
  max-height: 73px;
}

.top-nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
  height: 100%;
}

.top-nav li {
  display: inline-block;
  padding: 1.8rem 0 1.8rem 0;
}

.top-nav li.active {
  border-bottom: 3px solid #395AD4;
}

.top-nav li.active a {
  color: #395AD4;
}

.top-nav-link {
  color: #000;
  font-size: 18px;
}

.top-nav-link:hover {
  cursor: pointer;
  color: #395AD4;
  text-decoration: none;
}

.top-nav-link.active {
  color: #395AD4;
}