<div class="row my-events-label-container">
  <div class="col-sm-8 list-label-wrapper">
    <div class="list-label">
      My Events
    </div>
  </div>
  <div class="col-sm-4 event-button-wrapper">
    <button class="event-button" mat-stroked-button color="primary">Add New Event</button>
  </div>
</div>

<mat-divider class="event-list-divider"></mat-divider>

<div class="divider">
  <hr class="highlighter" />
</div>

<div class="row my-events">
  <div class="col-sm-12">
    <mat-card class="event-card" routerLink="/events/event-details">
      <mat-card-header>
        <mat-card-title><h4>Sommer Festival In The City</h4></mat-card-title>
        <div class="event-brief-details">
          <p class="date-container">20.08.2018</p>
          <p class="location-container">Zurich</p>
        </div>
      </mat-card-header>
      <mat-card-content>
        <img class="event-header-image" src="../../../assets/images/event-1.png">
        <p class="event-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="role primary">as Organizer</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="event-card" routerLink="/events/event-details">
      <mat-card-header>
        <mat-card-title><h4>Sommer Festival In The City</h4></mat-card-title>
        <div class="event-brief-details">
          <p class="date-container">20.08.2018</p>
          <p class="location-container">Zurich</p>
        </div>
      </mat-card-header>
      <mat-card-content>
        <img class="event-header-image" src="../../../assets/images/event-2.png">
        <p class="event-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="role primary">as Organizer</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row upcoming-events-label-container">
  <div class="col-sm-12 list-label-wrapper">
    <div class="list-label">
      Upcoming Events
    </div>
  </div>
</div>

<mat-divider class="event-list-divider"></mat-divider>

<div class="divider">
  <hr class="highlighter" />
</div>

<div class="row upcoming-events">
  <div class="col-sm-12">
    <mat-card class="event-card" routerLink="/events/event-details">
      <mat-card-header>
        <mat-card-title><h4>Sommer Festival In The City</h4></mat-card-title>
        <div class="event-brief-details">
          <p class="date-container">20.08.2018</p>
          <p class="location-container">Zurich</p>
        </div>
      </mat-card-header>
      <mat-card-content>
        <img class="event-header-image" src="../../../assets/images/event-3.png">
        <p class="event-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </mat-card-content>
      <button class="apply-button" mat-raised-button color="primary">Apply by 05.08.2018</button>
    </mat-card>

    <mat-card class="event-card" routerLink="/events/event-details">
      <mat-card-header>
        <mat-card-title><h4>Sommer Festival In The City</h4></mat-card-title>
        <div class="event-brief-details">
          <p class="date-container">20.08.2018</p>
          <p class="location-container">Zurich</p>
        </div>
      </mat-card-header>
      <mat-card-content>
        <img class="event-header-image" src="../../../assets/images/event-4.png">
        <p class="event-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore inventore a deleniti saepe, dolorem libero, necessitatibus exercitationem id quae magnam, ipsa vel vitae recusandae nam illo similique laborum blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </mat-card-content>
      <button class="apply-button" mat-raised-button color="primary">Apply by 05.08.2018</button>
    </mat-card>
  </div>
</div>