<div class="row events-edit-label-container">
  <div class="col-sm-8 list-label-wrapper">
    <div class="list-label">
      Sommer Festival In the City
    </div>
  </div>
  <div class="col-sm-4 event-button-wrapper">
    <button class="event-button" mat-stroked-button color="primary" routerLink="/events/event-edit">Edit Event Details</button>
  </div>
</div>
    
<mat-divider class="event-list-divider"></mat-divider>
  
<div class="divider">
  <hr class="highlighter" />
</div>

<div class="row">
  <div class="col-sm-4">
    <span class="event-data-container-label">
      General Data
    </span>
    <div class="event-details-container">
      <div class="event-data-container">
          <table class="event-data">
            <tr><td class="label">Date: </td><td class="description">20.08.2018 (1 day)</td></tr>
            <tr><td class="label">Venue: </td><td class="description">Hallenstadion, Zurich</td></tr>
            <tr><td class="label">Posts: </td><td class="description">20</td></tr>
            <tr><td class="label">Shifts: </td><td class="description">150</td></tr>
            <tr><td class="label">Organizer: </td><td class="description">Festival Organizer, AG</td></tr>
            <tr><td class="label">Contact Person: </td><td class="description">Peter Mueller</td></tr>
          </table>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <span class="event-data-container-label">
      Description
    </span>
    <div class="event-data-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum omnis molestias minus soluta iusto dignissimos et, nesciunt dolorem dolores aliquam possimus, aut placeat, repellendus corporis excepturi itaque dolore animi blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum omnis molestias minus soluta iusto dignissimos et, nesciunt dolorem dolores aliquam possimus, aut placeat, repellendus corporis excepturi itaque dolore animi blanditiis.
    </div>
    <div class="other-container">
      <div class="shifts">
        <div class="other-container-label">
          Handling Shifts?
        </div>
        <button class="save-event" mat-raised-button color="primary">Handling Shifts and Assignments</button>
      </div>
      <div class="helpers">
        <div class="other-container-label">
          Contacting Helpers?
        </div>
        <button class="save-event" mat-raised-button color="primary" routerLink="/upload">Contact Helpers</button>
      </div>
    </div>
  </div>
</div>

<div class="row media">
  <div class="col-sm-4">
    <span class="event-data-container-label">
      Timeline:
    </span>
    <div class="timeline-media-container">
      <div class="timeline-image"></div>
    </div>
  </div>
  <div class="col-sm-4">
    <span class="event-data-container-label">
      Helpers Invited (280)
    </span>
    <div class="helpers-media-container">
      <div class="helpers-image"></div>
    </div>
  </div>
  <div class="col-sm-4">
    <span class="event-data-container-label">
      Assignments (150)
    </span>
    <div class="assign-media-container">
      <div class="assign-image"></div>
    </div>
  </div>
</div>